.haif-width-text{
    text-align: right;
}
.price-highlight{
    color:orangered;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589B 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.haif-width{
    width: 50%;
    
}

